@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
    float: left;
    line-height: 1;
    z-index: 99;
    position: relative;
    margin-top: 0px;
    text-transform: uppercase;
	padding: 0 0px 0 0px;
}
#menu-line {
display:none;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
    float: left;
/* background-image:url(../images/header/menu_line.png);*/
 background-position: right;
 background-repeat: no-repeat;
	}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li {
    border-top: 0px solid #000;
    padding: 0px 0px;
}
#cssmenu > ul > li > a {
    padding: 10px 13px 18px 13px;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    background: url(../images/menu_split_up.png) right no-repeat;
    font-weight: 500;
}
#cssmenu ul 
{
  border-top:none;
}
#cssmenu > ul > .first a {
}


#cssmenu > ul > li.last  > a 
{
	border-right:0px;
}
#cssmenu > ul > li.last
{
background:none;
}


#cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a {
    color: #fcec35;

}


#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 10px;
  width: 220px;
  font-size: 14px;
  background: #079eed;
  text-decoration:none;
  text-transform:uppercase;
color:#fff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
background-color:#ed1651;
color:#fff;
}


@media screen and (max-width: 1200px) {
#cssmenu ul li a {

  }
  #cssmenu > ul > li {
    border-top: 0px solid #000;
    padding: 0px 0px;
}


#cssmenu > ul > li > a {
    padding: 10px 10px 18px 10px;
    font-size: 16px;
	}
  }
  
@media all and (max-width: 980px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
#cssmenu {
    float: left;
    line-height: 1;
    z-index: 99;
    position: absolute;
    margin-top: 0px;
    text-transform: uppercase;
	padding: 0 0px 0 0px;
	width: 100%;
}

  #cssmenu ul {
    width: 100%;
    display: none;
    position: relative;
    box-shadow: 0px 0px 2px #a5a5a5;
    margin: 20px 0 0 0;
}
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
   #cssmenu ul li
   {
   padding: 0px 0px 0px 0;
   background-color:#fff;
   border:none;
   background-image: none;
   }
   #cssmenu > ul > li:hover, #cssmenu > ul > li.active
   {
   background: none #fff;
   border:none;
   }
   #cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a {
    background-color: #2f2f2f;
    border-radius: 0px 0px 0 0px;
}
   

#cssmenu > ul > .first a {
    border-radius: 0px 0 0 0px;
}
    #cssmenu ul li a
	{
	border:none;
	}
#cssmenu ul li a, #cssmenu ul ul li a {
    width: 100%;
    font-size: 14px;
    background: #fff;
    color: #333;
	padding: 10px;
}
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: left;
    display: block;
	text-align: center;
  }
  #cssmenu ul li a {
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover { 
background-color:#ed1651;   
color:#fff;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
 
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 0px 50px 0 0px;
			font-size:18px;
			font-weight:bold;
			color:#fff;
    cursor: pointer;
    text-transform: uppercase;
	position:relative;
	z-index:1000;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top:0px;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 25px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #fff;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 12px;
    display: block;
    width: 11px;
    height: 1px;
    background: #fff;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
  #cssmenu > ul > li.last
{
background:#fff;
}
#cssmenu > ul > li.last > a {
}

}
@media screen and (max-width: 800px) {
> ul > li.active > a {
    color: #FFF;
    text-align: center;
	width:100%;
}
#cssmenu > ul > .first a {
}
> ul > li.active > a {
    color: #FFF;
}
> ul > li.active > a {
    color: #FFF;
}
li.active {
    background: none #FFF;
    border: none;
}
#cssmenu > ul > li.last > a {
  
}
#cssmenu > ul > .first a {
}

}